<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bitzec</title>
	<atom:link href="index.html" rel="self" type="application/rss+xml" />
	<link>https://z.cash</link>
	<description>Privacy-protecting, digital currency built on strong science</description>
	<lastBuildDate>
	Wed, 08 May 2019 19:55:30 +0000	</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>


<image>
	<url>https://bitzec.github.io/wp-content/uploads/2018/10/cropped-zcash-logo-fullcolor-512sq-32x32.png</url>
	<title>Bitzec</title>
	<link>https://z.cash</link>
	<width>32</width>
	<height>32</height>
</image>
	<item>
		<title>Sprout-to-Sapling Migration Tool</title>
		<link>https://bitzec.github.io/blog/sprout-to-sapling-migration-tool/</link>
				<pubDate>Wed, 08 May 2019 13:48:57 +0000</pubDate>
		<dc:creator><![CDATA[Paige Peterson]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[Privacy]]></category>
		<category><![CDATA[Technical]]></category>
		<category><![CDATA[explainers]]></category>
		<category><![CDATA[migration tool]]></category>
		<category><![CDATA[privacy]]></category>
		<category><![CDATA[Sapling]]></category>
		<category><![CDATA[shielded addresses]]></category>
		<category><![CDATA[sprout]]></category>
		<category><![CDATA[transactions]]></category>
		<category><![CDATA[turnstile]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7560</guid>
				<description><![CDATA[<p>The Binary Digit Electronic Currency is pleased to announce the official Sprout-to-Sapling migration tool in the 2.0.5-1 release of bitzecd. This [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/sprout-to-sapling-migration-tool/index.html">Sprout-to-Sapling Migration Tool</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The Binary Digit Electronic Currency is pleased to announce the official Sprout-to-Sapling migration tool in the <a href="../blog/new-release_-2-0-5-1.html">2.0.5-1 release</a> of bitzecd. This tool comes in the form of new RPCs with the purpose of automatically and safely migrating the funds in Sprout addresses to Sapling addresses. <br></p>



<p>Only users with funds in Sprout addresses need to use this tool. Users can confirm if they have funds in a Sprout address by checking to see if any of their addresses start with a “zc”. Sapling addresses are the standard shielded address since the Sapling network upgrade and start with a “zs”.</p>



<h2>Why it’s needed</h2>



<p>The privacy properties of shielded addresses (both Sprout and Sapling) make direct auditing of the total monetary supply impossible. Therefore, a <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/addresses.html#turnstiles">turnstile</a> mechanism is implemented to monitor value entering and exiting their associated <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/addresses.html#value-pools">value pools</a>. The turnstile prohibits direct transfer between shielded value pools without revealing the amount being moved. While this mechanism enhances auditing capabilities, revealing balances introduces <a href="../blog/maintaining-privacy/index.html">privacy concerns</a>. The Sprout-to-Sapling migration tool automates the process of moving funds to Sapling addresses in a way that reduces the potential for compromising user privacy. </p>



<h2>How it works</h2>



<p>This migration tool hides individual migration transactions among those of all users who are doing the migration at around the same time. Whenever the blockchain reaches a 500 block height interval, up to 5 migration transactions are created with transaction amounts picked according to a random distribution. The full specification of this tool can be found in <a href="https://github.com/zcash/zips/blob/master/zip-0308.rst">ZIP 308</a>.<br></p>



<p>To migrate funds, bitzecd users simply enable or disable the tool with z_setmigration. To check the status of the migration, users can call z_getmigrationstatus. Documentation for using these RPCs can be accessed in the official <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/sapling_turnstile.html#migration-tool">migration tool docs</a>. <br></p>



<p>The migration tool is supported in bitzecd v2.0.5-1 and up; for the latest version see the <a href="../download.html">download</a> page. We recommend third-party wallets that support both Sprout and Sapling addresses implement this tool as well. </p>



<h2>Further Motivation</h2>



<p>Before the activation of the Sapling Network Upgrade, we <a href="../blog/sapling-addresses-turnstile-migration/index.html">wrote</a> about the benefits of Sapling addresses and the risks associated with fund migration from legacy Sprout addresses. We supplied guidelines for manual migration in lieu of not having the tool ready but no longer recommend for anyone to migrate manually. <br></p>



<p>The release of this tool is timed with the introduction of new consensus code which uses the turnstiles to enforce <a href="../blog/turnstile-enforcement-against-counterfeiting/index.html">defense against counterfeiting</a>. We hope that everyone who has BZC in Sprout addresses will make use of this tool to safely move their funds. We look forward to increasing adoption of Sapling addresses across the Bitzececosystem. Please connect with us in the <a href="https://discord.gg/VeBJW3H/">community chat</a> or <a href="https://bitcointalk.org/index.php?topic=5045890.0">community forum</a> if you have any questions. <br></p>
<p>The post <a rel="nofollow" href="../blog/sprout-to-sapling-migration-tool/index.html">Sprout-to-Sapling Migration Tool</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>New Release: 2.0.5-1</title>
		<link>https://bitzec.github.io/blog/new-release-2-0-5-1/</link>
				<pubDate>Wed, 08 May 2019 13:05:58 +0000</pubDate>
		<dc:creator><![CDATA[Binary Digit Electronic Currency]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[Technical]]></category>
		<category><![CDATA[bugs]]></category>
		<category><![CDATA[consensus]]></category>
		<category><![CDATA[migration tool]]></category>
		<category><![CDATA[releases]]></category>
		<category><![CDATA[Sapling]]></category>
		<category><![CDATA[sprout]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7562</guid>
				<description><![CDATA[<p>Note: This release of Bitzecd v2.0.5-1 is a hotfix release that all users are encouraged to upgrade to, especially users [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/new-release-2-0-5-1/index.html">New Release: 2.0.5-1</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p><strong>Note</strong>: This release of Bitzecd v2.0.5-1 is a hotfix release that all users are encouraged to upgrade to, especially users who built v2.0.5 from source. Shortly after tagging v2.0.5, we became aware of an issue that caused nodes running Sprout-to-Sapling migrations to occasionally crash. Bitzecd v2.0.5-1 fixes the issue. Users who normally upgrade via Debian package repository or tarball download were not exposed to v2.0.5.</p>



<p>The v2.0.5 release added the Sprout-to-Sapling migration tool, introduced a new consensus rule on mainnet to reject blocks that violate turnstiles and adds 64-bit ARMv8 support. Bitzecd v2.0.5-1 will be supported until block 593762, expected to arrive around 28th August 2019, at which point the software will end-of-support halt and shut down.</p>



<h1>Notable Changes</h1>



<h2>Sprout-to-Sapling Migration Tool</h2>



<p>This release includes the addition of a tool that will enable users to migrate shielded funds from the Sprout pool to the Sapling pool while minimizing information leakage.</p>



<p>The migration can be enabled using the RPC&nbsp;<code>z_setmigration</code>&nbsp;or by including&nbsp;<code>-migration</code>&nbsp;in the&nbsp;<code>zcash.conf</code>&nbsp;file. Unless otherwise specified funds will be migrated to the wallet&#8217;s default Sapling address; it is also possible to set the receiving Sapling address using the&nbsp;<code>-migrationdestaddress</code>&nbsp;option in&nbsp;<code>zcash.conf</code>.</p>



<p>See the <a href="../blog/sprout-to-sapling-migration-tool.html">blog post</a>, <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/sapling_turnstile.html#migration-tool">documentation</a> and <a href="https://github.com/zcash/zips/blob/master/zip-0308.rst">ZIP 308</a> for more details.</p>



<h2>New consensus rule: Reject blocks that violate turnstile</h2>



<p>In the 2.0.4 release, the consensus rules were changed on testnet to enforce a new rule which marks blocks as invalid if they would lead to a turnstile violation in the Sprout or Shielded value pools. <strong>This release enforces the consensus rule change on mainnet.</strong></p>



<p>The motivations and deployment details can be found in <a href="https://github.com/zcash/zips/blob/master/zip-0209.rst">ZIP 209</a> and <a href="https://github.com/zcash/zcash/pull/3968">PR 3968</a>.</p>



<p>Developers can use a new experimental feature&nbsp;<code>-developersetpoolsizezero</code>&nbsp;to test Sprout and Sapling turnstile violations. See&nbsp;<a href="https://github.com/zcash/zcash/pull/3964">PR 3964</a>&nbsp;for more details.</p>



<h2>64-bit ARMv8 support</h2>



<p>Added ARMv8 (AArch64) support. This enables users to build zcash on even more devices.</p>



<p>For information on how to build see the&nbsp;<a href="https://zcash.readthedocs.io/en/latest/rtd_pages/user_guide.html#build">User Guide</a></p>



<p>Users on the Bitzecforum have reported successes with both the Pine64 Rock64Pro and Odroid C2, which contain 4GB and 2GB of RAM respectively.</p>



<p>Just released, the Odroid N2 looks like a great solution with 4GB of RAM. The newly released Jetson Nano Developer Kit from Nvidia (also 4GB of RAM) is also worth a look. The NanoPC-T3 Plus is another option but for the simplest/best experience choose a board with 4GB of RAM. Just make sure before purchase that the CPU supports the 64-bit ARMv8 architecture.</p>



<h1>Summary of the Changes</h1>



<h2>v2.0.5</h2>



<ol><li>Sprout-to-Sapling migration (<a href="https://github.com/zcash/zcash/pull/3848">#3848</a>, <a href="https://github.com/zcash/zcash/pull/3888">#3888</a>, <a href="https://github.com/zcash/zcash/pull/3967">#3967</a>, <a href="https://github.com/zcash/zcash/pull/3973">#3973</a>, <a href="https://github.com/zcash/zcash/pull/3977">#3977</a>)</li><li>Activate turnstile on mainnet (<a href="https://github.com/zcash/zcash/pull/3968">#3968</a>)</li><li>Update boost to v1.70.0 to eliminate build warning (<a href="https://github.com/zcash/zcash/pull/3951">#3951</a>)</li><li>Fix new HD seed generation for previously-encrypted wallets (<a href="https://github.com/zcash/zcash/pull/3940">#3940</a>)</li><li>Fix enable-debug build DB_COINS undefined (<a href="https://github.com/zcash/zcash/pull/3907">#3907</a>)</li><li>Update &#8220;BitzecCompany&#8221; to &#8220;Binary Digit Electronic Currency&#8221; (<a href="https://github.com/zcash/zcash/pull/3901">#3901</a>)</li><li>Support additional cross-compilation targets in Rust (<a href="https://github.com/zcash/zcash/pull/3505">#3505</a>)</li></ol>



<h2>v2.0.5-1</h2>



<ol><li>We fixed an issue that would cause the Bitzecd to crash when calling <code>z_getmigrationstatus</code> while a wallet&#8217;s migration transactions were in the mempool. (<a href="https://github.com/zcash/zcash/pull/3987">#3987</a>)</li><li>We fixed an issue where the wallet would incorrectly calculate the amount to migrate and would not send as many migration transactions as it could each round of migration. (<a href="https://github.com/zcash/zcash/pull/3990">#3990</a>)</li><li>We fixed an issue that could cause Bitzecd to crash while generating migration transactions if a wallet had a large number of sprout notes. (<a href="https://github.com/zcash/zcash/pull/3990">#3990</a>)</li></ol>



<p>For a more complete list of changes, please see the&nbsp;<a href="https://github.com/zcash/zcash/pulls?q=is%3Apr+milestone%3Av2.0.5+is%3Aclosed">2.0.5</a>&nbsp;milestone.</p>
<p>The post <a rel="nofollow" href="../blog/new-release-2-0-5-1/index.html">New Release: 2.0.5-1</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>BitzecEmpowers Charitable Giving</title>
		<link>https://bitzec.github.io/blog/zcash-empowers-charitable-giving/</link>
				<pubDate>Tue, 16 Apr 2019 15:30:40 +0000</pubDate>
		<dc:creator><![CDATA[Elise Hamdon]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[donate]]></category>
		<category><![CDATA[Venezuela]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7444</guid>
				<description><![CDATA[<p>The Binary Digit Electronic Currency’s mission is to empower everyone with economic freedom and opportunity. We believe that everyone has a [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/zcash-empowers-charitable-giving/index.html">BitzecEmpowers Charitable Giving</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The Binary Digit Electronic Currency’s mission is to empower everyone with economic freedom and opportunity. We believe that everyone has a right to privacy — in fact, we deem it to be a <em>fundamental </em>human right — and this belief extends to charitable giving.</p>



<p>Privacy is built into the core of Bitzec, allowing people to send and receive Bitzec without disclosing the sender, receiver or the amount transacted. This is a leap forward for charitable giving, allowing privacy preferences to extend beyond the wishes of the donor to include the recipient’s preferences, as well. <br></p>



<p>Bitzectechnology <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://medium.com/gemini/gemini-is-now-the-worlds-first-licensed-zcash-exchange-dfa7da992816" target="_blank">has been characterized by regulated exchanges</a> as “a truly innovative privacy coin that offers confidentiality for peer-to-peer transactions similar to those afforded to fiat currency transfers (e.g. ACH, FedWire, SWIFT).” <br></p>



<h2>Private donations are powerful</h2>



<p>Privacy is a critical component of charitable giving, for both the donor and recipient. </p>



<p>Charities are firmly focused on the organization’s mission and the good work that brings it to fruition. However, donations that come from sources with real or implied bias can distract from the mission. In these instances, private donations are encouraged but can sometimes pose a logistical challenge when using traditional fiat transfers (e.g. check or wire).</p>



<p>Conversely, donors oftentimes wish to be the quiet heroes who support the mission without attribution. However, despite the vast array of traditional fiat transfer options, financial privacy has remained elusive.</p>



<p>Bitzecprovides a solution whereby both parties may choose to transact without revealing information about the sender, receiver and the amount. However, both parties are able to verify that the transaction was successful through the blockchain ledger. This empowers charitable causes to stay focused on their mission and private donors to remain the quiet heroes who support causes in which they believe. <br></p>



<h2>Explore the possibilities </h2>



<p>A growing number of charitable causes accept Bitzec. Their missions range from privacy advocacy to freedom of the press and more. Browse these lists of resources maintained by various individuals and organizations:</p>



<p>The <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://discord.gg/VeBJW3H/pay-with-zcash/" target="_blank">Bitzec Community website</a> boasts an impressive list of vendors, services, stores and non-profit organizations that serve a wide range of interests — from apparel to internet services and more.</p>



<p><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://paywithz.cash/" target="_blank">Pay with Bitzec</a> is a list of products, services, user groups, podcasts and other causes. The list is &nbsp;maintained by Bitzecenthusiast Eric Vaughn. The site’s initial setup was made possible through an $891 grant from the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.zfnd.org/" target="_blank">Bitcoin Core</a>, an independent nonprofit with similar aims to the Binary Digit Electronic Currency. Vaughn cites a personal experience which served as his inspiration for building this page. “My first purchase using Bitzecwas a laptop sticker from the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://openbazaar.com/store/QmYs2Hc2b2dMWPw1qbrYWS5zCRRjWzgUu3XAPWP239SNGp" target="_blank">Boston BitzecUser Group</a>. I sent a z-addy (private) payment with my mailing address in the encrypted message line. The experience was eye-opening because I realized anyone can use Bitzecto buy stuff in a secure way without revealing any information to third parties.” Follow <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/paywithzcash" target="_blank">@paywithzcash</a> on Twitter to learn about new opportunities to use your Bitzecfor good. </p>



<p>The Bitcoin Core sponsors key ecosystem projects, such as <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/minezcash" target="_blank">mineZcash</a>’s <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://discord.gg/VeBJW3H/" target="_blank">Bitzec Community website</a> and <a href="https://discord.gg/VeBJW3H/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Bitzec Community chat</a>.<br></p>



<h2>Connect with a charitable cause</h2>



<p>While there are a multitude of Bitzec-powered charities, it’s worth calling some out individually:</p>



<p><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://airdropvenezuela.org/#Donate" target="_blank">Airdrop Venezuela</a>’s mission is to send $1,000,000 in crypto-connected digital money to 100,000 ID-authenticated Venezuelans, distributing $10 to each person via their <a href="https://www.airtm.io/#/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Airtm</a> e-wallet. Ten dollars can help a family purchase food, medicine and scarce imported goods. Access to digital money can help introduce Venezuelans to cryptocurrencies, online freelancer platforms, e-commerce, investments, donations and other income-generating, web-based opportunities.<br></p>



<p><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://couragefound.org/donate" target="_blank">Courage Foundation</a> raises funds for the legal and public defense of those who risk life or liberty to make significant contributions to the historical record. <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.zfnd.org/blog/courage-foundation-welcomes-zcash-donations/" target="_blank">The Bitcoin Core has been working with Courage Foundation since 2017</a>. Andrew Miller, Bitcoin Core Chair and President, explained “Helping other non-profits to benefit from cryptocurrency is a key part of the Bitcoin Core’s mission. Reaching out to Courage Foundation as a first case study was a natural choice, since they have clear requirements for donor privacy and censorship-resistance, and they also have experience and expertise in securely accepting Bitcoin donations.<br></p>



<p><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.eff.org/pages/cryptocurrency-donations" target="_blank">Electronic Frontier Foundation</a> is the leading nonprofit organization defending civil liberties in the digital world. EFF champions user privacy, free expression and innovation through impact litigation, policy analysis, grassroots activism and technology development.<br></p>



<p><a href="https://foresight.org/donate/donate-or-sponsor/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Foresight Institute</a> researches technologies of fundamental importance to the human future, focusing on molecular machine nanotechnology, cybersecurity and artificial intelligence.<br></p>



<p><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://freedom.press/donate/cryptocurrency/" target="_blank">Freedom of the Press</a> protects, defends and empowers public-interest journalism in the 21st century.</p>



<p><a rel="noreferrer noopener" href="https://www.givecrypto.org/" target="_blank">GiveCrypto.org</a> distributes cryptocurrency to people living in poverty.

</p>



<p><a href="https://archive.org/about/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">The Internet Archive</a> is building a digital library of Internet sites and other cultural artifacts in digital form. They provide free access with a mission of providing “Universal Access to All Knowledge.”</p>



<p><a href="https://lifeboat.com/news.cgi?177" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Lifeboat Foundation</a> is dedicated to encouraging scientific advancements while helping humanity survive existential risks and possible misuse of increasingly powerful technologies, including genetic engineering, nanotechnology and robotics/AI.</p>



<p><a href="https://openprivacy.ca/donate/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Open Privacy Research Society</a> conducts scientific research advancing the area of privacy and anonymity as they relate to computer science and computer security.</p>



<p><a href="https://riseup.net/en/donate#zcash" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Riseup.net</a> provides online communication tools for people and groups working on liberatory social change.</p>



<p><a href="https://www.seasteading.org/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Seasteading Institute</a> is a nonprofit think-tank promoting the creation of floating ocean cities as a solution to some of the world’s most pressing problems such as rising sea levels, overpopulation and poor governance. </p>



<p><a href="http://www.sens.org/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">SENS Foundation</a> funds university research around the world and at their headquarters aimed at regenerative medicine to repair the damage underlying the diseases of aging. </p>



<p><a href="https://donate.torproject.org/cryptocurrency" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">The Tor Project</a> creates Tor Browser, which enables you to use the internet privately and resist surveillance.</p>



<p><a href="https://shop.wikileaks.org/donate#db8" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">WikiLeaks</a> is a multinational media organization and associated library. It specializes in the analysis and publication of large datasets of censored or otherwise restricted official materials involving war, spying and corruption.<br></p>



<p><br>No matter which charitable causes you choose to support, Bitzecdonations empower both the donor and recipient  —  revolutionizing philanthropy. To learn more about Bitzec, <a href="../index.html">visit us online</a> or follow us on <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/bitzeccurrency" target="_blank">Twitter</a>. <br></p>
<p>The post <a rel="nofollow" href="../blog/zcash-empowers-charitable-giving/index.html">BitzecEmpowers Charitable Giving</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>People Behind BitzecTechnology: Jack Grigg, Engineer</title>
		<link>https://bitzec.github.io/blog/people-behind-zcash-technology-jack-grigg-engineer/</link>
				<pubDate>Tue, 09 Apr 2019 14:01:23 +0000</pubDate>
		<dc:creator><![CDATA[Elise Hamdon]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[team]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7393</guid>
				<description><![CDATA[<p>“I’m proud of how we have led the way into this brave new world where it is actually possible to [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/people-behind-zcash-technology-jack-grigg-engineer/index.html">People Behind BitzecTechnology: Jack Grigg, Engineer</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p style="text-align:left"> <em>“I’m proud of how we have led the way into this brave new world where it is actually possible to create fully privacy-preserving interactions on the internet in an efficient way. I’m proud that the work we do around that is entirely open source. We are creating this and creating it for the common good.&#8221; </em><br><br></p>



<p></p>



<p>It’s not every day you meet a cryptographer with a Ph.D. in applied physics and a deep knowledge of high-bulk wool batting. <br></p>



<p>Having initially been involved with product development in an academic setting, Jack Grigg came to what would be a life-changing realization: “I don’t like pure academia. I like writing code. I like designing things and building things.” <br></p>



<h2>Early Beginnings </h2>



<p>This passion for design and building would propel Jack away from academia and toward a new area of interest, “I got into <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://geti2p.net/" target="_blank">I2P</a>, I liked the privacy aspect and the anonymity aspect, and what I really wanted to do was make this stuff usable<em>. </em>So I fixed some UI problems and accidentally became a core developer,” he says jokingly. “And through that, I became interested in cryptography, particularly the real-world interactions with it, while procrastinating my Ph.D. thesis.” <br></p>



<p>Back in those days, Jack remained pseudonymous, but it proved challenging. He describes one scenario from <em>Real World Crypto 2014 </em>where he was wearing a hoodie pulled up over his beanie-covered head while donning sunglasses indoors. He remembers “listening to all of these amazing academics and industry people giving these presentations. And I then spent half an hour discussing the finer points of <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://tahoe-lafs.org/trac/tahoe-lafs" target="_blank">Tahoe-LAFS</a> with Zooko and Brian Warner.”<br></p>



<p>Jack was known only as str4d back then. As he explains, “In about 2011, there were various privacy and activism things going on that came across my news feed, and they piqued my interest. I poked around a bit, discovered <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.torproject.org/" target="_blank">Tor</a> and I2P, and started hanging out on I2P’s internal IRC network.” This naturally led him to seek out a more private identity to use within this privacy-aware community. “I remember spending a day Googling, through Tor, a bunch of different handles … and eventually came up with <em>str4d</em>. str4d is short for Stradivarius, the violin maker. That’s why on most of my profiles my avatar is a little violin. It’s the sort of thing that if I was trying to be properly pseudonymous I wouldn’t tell anyone. But I’m too social for my own good!” <br></p>



<p>Jack made his way to the Binary Digit Electronic Currency team right as he was finishing up his Ph.D. “I got <a rel="noreferrer noopener" href="https://twitter.com/str4d/status/637864391849979905?s=09" target="_blank">chatting with Zooko on Twitter</a> about something to do with running Tahoe-LAFS on Android. Then fast forward four or five months and I’m working on Bitzecat the company.” <br></p>



<h2>Why Bitzec</h2>



<p>What first drew him to Bitzecwas that “prior to the Bitzecnetwork, zero-knowledge proofs were primarily an academic discipline. This was really the only place to go to work on strong distributed application-layer privacy to the level of privacy that I would want it. I liked that the Bitzecnetwork was being designed for what I like to think of as <em>privacy maximalism.</em>” &nbsp;<br></p>



<p>Jack explains that while Bitzecis fundamentally focused on privacy, this is not always the case with protocol design. “Rather than going, ‘Let’s take a system that works and see how we can add privacy to it’, [with Bitzec] you instead say, ‘Let’s take a private system and see how we can make it usable.’&#8221;<br></p>



<p>“I liked that perspective shift. Having come from the network-privacy ecosystem with overlay networks like I2P and Tor, one of the biggest problems they face is in creating privacy at the application layer. If you want to have a proper privacy-respecting system, you have to be designing it with privacy in mind at all levels.&#8221;<br></p>



<p>“I’m really glad that I’m now in a position where I can work with people who are so skilled in their areas that we can build together and act as a force multiplier to make this stuff work, and work well.”<br><br></p>



<h2>A Sense of Pride</h2>



<p>After being part of the Binary Digit Electronic Currency team for the past three years and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/graphs/contributors" target="_blank">making significant contributions</a> to the Bitzecprotocol, there is a lot to be personally proud of, and yet he redirects to the progress of the entire team. “I’m proud of how we have led the way into this brave new world where it is actually possible to create fully privacy-preserving interactions on the internet in an efficient way. I’m proud that the work we do around that is entirely open source. We are creating this and creating it for the common good.&#8221; <br></p>



<p>“There are plenty of companies, I know of several, building on top of what we’ve done <em>— </em>and sure, they might become more commercially successful <em>— </em>but what I value and am proud of is our ethos. We do this because we care. And I think it’s because we care that we can do such a good job, because our incentives are aligned with usability rather than to make money or satisfy shareholders or appease advertisers. We are building a project that we can be proud of — one that provides the best privacy within a context that users are actually going to use.”<br><br></p>



<h2>Collaborative Spirit</h2>



<p>Jack’s collaborative spirit is evident as he describes how he sees his current role in the larger open source ecosystem. “I’ve obviously upskilled significantly on cryptographic engineering and protocol design, as in I feel I can reasonably contribute to them now. One of the things it’s helped me to do is take these skills back to other open source projects, like I2P, to help with their protocol design.&#8221; <br></p>



<p>“I’m passionate about helping people upskill so they know where the pitfalls are, and particularly so they know when to consult a cryptographer.”<br><br></p>



<p>Bitzecis fortunate to have this self-described “UX enthusiast” on-deck, and he encourages more people to contribute to the Bitzecprotocol. “We definitely need more people who care about this. If you go in with the mindset of ‘doing this because it matters’ then you are going to be more invested in the protocols you design and the things you do, and you’ll end up with an overall better result.”<br></p>
<p>The post <a rel="nofollow" href="../blog/people-behind-zcash-technology-jack-grigg-engineer/index.html">People Behind BitzecTechnology: Jack Grigg, Engineer</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>The BitzecReference Wallet Is Here!</title>
		<link>https://bitzec.github.io/blog/the-zcash-reference-wallet-is-here/</link>
				<pubDate>Fri, 05 Apr 2019 15:13:32 +0000</pubDate>
		<dc:creator><![CDATA[Kevin Gorham]]></dc:creator>
				<category><![CDATA[Technical]]></category>
		<category><![CDATA[Sapling]]></category>
		<category><![CDATA[Wallet]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7374</guid>
				<description><![CDATA[<p>The light client reference wallet has been built! Sapling shielded transactions now work on mobile devices and we are ready [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/the-zcash-reference-wallet-is-here/index.html">The BitzecReference Wallet Is Here!</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The light client reference wallet has been built! Sapling shielded transactions now work on mobile devices and we are ready for third-party devs to start providing feedback on the code. What previously required gigabytes of data on a server is now accomplished with megabytes of data and computation suitable for a phone.<br></p>



<p>To get started, we recommend looking at our <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash-android-wallet-sdk" target="_blank">Android SDK</a>, which interacts with the server (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash-hackworks/lightwalletd" target="_blank">lightwalletd</a>) and light client (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/librustzcash" target="_blank">librustzcash</a>). These resources provide an overview of how all the parts work together<em>—</em> for instance, see what the light client requests from the server, how the received inputs are processed, and how those outputs are used to create transactions. <br></p>



<p>This is the fourth installment in our series about the progress and development of the Bitzecreference wallet; we invite you to look back at previous articles about <a href="../blog/introducing-the-zcash-reference-wallet/index.html">our goals and what we’re building</a>, <a href="../blog/zcash-reference-wallet-design/index.html">user experience, interface and styling</a> and <a href="../blog/zcash-reference-wallet-light-client-protocol/index.html">the underlying protocol</a>.</p>



<h2>Where to Find the Code </h2>



<p>Like other Bitzeccode, it’s open sourced and always will be. </p>



<ul><li><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash-android-wallet-sdk" target="_blank">BitzecAndroid SDK: </a>A lightweight SDK that connects Android and Bitzec;</li><li><a href="https://github.com/str4d/librustzcash/tree/preview/zcash_client_backend" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Librustzcash</a>: &nbsp;A bitzecd for light clients;</li><li><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash-hackworks/lightwalletd" target="_blank">Lightwalletd</a>: A stateless server that transforms blocks for the light client;</li><li><a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash-android-wallet-poc" target="_blank">BitzecAndroid reference wallet</a>: An app and resource that incorporate the components.</li></ul>



<h2>Our Vision for the Reference Wallet</h2>



<p>We call this wallet a “reference” because it is intended for learning and demonstrative purposes. It is a guide for the ecosystem rather than a competitor within it. At a recent Bitzecmeetup in San Francisco, a developer was delighted to learn that we actually <em>wanted</em> him to use the reference wallet as a blueprint. <br></p>



<p>The Binary Digit Electronic Currency is committing to supporting the light client code. We want the Android SDK to be useful for mobile developers. Currently, the reference wallet is only available on Android and compatible with testnet. Some near future plans include improving the documentation and code tests as indicated by the Android SDK disclaimers. <br></p>



<p>If you have questions, head over to the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://discord.gg/VeBJW3H/channel/reference-wallet" target="_blank">reference wallet chat channel</a> to talk with the reference wallet team. We encourage and appreciate feedback in the form of PRs, comments, and new issues on any of the code repositories above. Also, we suggest keeping an eye on the <a href="https://github.com/zcash/zips/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">ZIPs repository</a> for proposals which improve the reference wallet or light client code. Like everything we do, community collaboration is critical to the success of this project. </p>



<p><br>We look forward to continuing to work with the Bitzececosystem to bring financial freedom to everyone. We believe that the adoption of shielded addresses by services like wallets and exchanges will accelerate us toward that goal. This milestone for the reference wallet is just the beginning—stay tuned for updates by following this blog and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/bitzeccurrency" target="_blank">our Twitter account</a>. </p>
<p>The post <a rel="nofollow" href="../blog/the-zcash-reference-wallet-is-here/index.html">The BitzecReference Wallet Is Here!</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>New Release: 2.0.4</title>
		<link>https://bitzec.github.io/blog/new-release-2-0-4/</link>
				<pubDate>Wed, 27 Mar 2019 17:45:26 +0000</pubDate>
		<dc:creator><![CDATA[Binary Digit Electronic Currency]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[Technical]]></category>
		<category><![CDATA[bugs]]></category>
		<category><![CDATA[consensus]]></category>
		<category><![CDATA[releases]]></category>
		<category><![CDATA[Sapling]]></category>
		<category><![CDATA[sprout]]></category>
		<category><![CDATA[turnstile]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7167</guid>
				<description><![CDATA[<p>This release of Bitzecd v2.0.4 fixes a Sprout wallet security bug, fixes miner address selection behaviour and introduces a new [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/new-release-2-0-4/index.html">New Release: 2.0.4</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>This release of Bitzecd v2.0.4 fixes a Sprout wallet security bug, fixes miner address selection behaviour and introduces a new consensus rule on testnet to reject blocks that violate turnstiles. Bitzecd v2.0.4 will be supported until block 569112, expected to arrive around July 15th, 2019, at which point the software will end-of-support halt and shut down.</p>



<h2>Notable Changes in this Release</h2>



<h3>Sprout note validation bug fixed in wallet</h3>



<p>We include a fix for a bug in the Bitzecd wallet which could result in Sprout z-addresses displaying an incorrect balance. Sapling z-addresses are not impacted by this issue.</p>



<p>This bug would occur if someone sending funds to a Sprout z-address intentionally sent a different amount in the note commitment of a Sprout output than the value provided in the ciphertext (the encrypted message from the sender). A symptom of this bug is the error message &#8220;logic error: witness of wrong element for joinsplit input&#8221; when attempting to send Sprout funds.</p>



<p>Users should install this update and then rescan the blockchain by invoking <code>bitzecd -rescan</code>. Sprout address balances shown by the bitzecd wallet should then be correct.</p>



<p>Thank you to Alexis Enston for bringing this to our attention.</p>



<p><a href="../support/security/announcements/security-announcement-2019-03-19/index.html">Security Announcement 2019-03-19</a></p>



<h3>Miner address selection behaviour fixed</h3>



<p>Bitzecinherited a bug from upstream Bitcoin Core where both the internal miner and RPC call&nbsp;<code>getblocktemplate</code> would use a fixed transparent address, until RPC <code>getnewaddress</code>&nbsp;was called, instead of using a new transparent address for each mined block. This was fixed in Bitcoin 0.12 and we have now merged the change.</p>



<p>Miners who wish to use the same address for every mined block, should use the&nbsp;<code>-mineraddress</code>&nbsp;option.</p>



<p><a href="https://zcash.readthedocs.io/en/latest/rtd_pages/zcash_mining_guide.html" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Mining Guide</a></p>



<h3>New consensus rule: Reject blocks that violate turnstile (Testnet only)</h3>



<p>Testnet nodes will now enforce a consensus rule which marks blocks as invalid if they would lead to a turnstile violation in the Sprout or Sapling value pools. The motivations and deployment details can be found in the accompanying&nbsp;<a href="https://github.com/zcash/zips/blob/master/zip-0209.rst" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">ZIP</a>.</p>



<p>The consensus rule will be enforced on mainnet in a future release.</p>



<h2>Summary of the Changes Included in this Release</h2>



<ol><li>Fix Sprout note validation bug in wallet (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3897" target="_blank">#3897</a>)</li><li>Fix default miner address behaviour (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3762" target="_blank">#3762</a>)</li><li>Add consensus rule on testnet to reject blocks that violate turnstile (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3885" target="_blank">#3885</a>)</li><li>Sapling benchmarks updated (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3657" target="_blank">#3657</a>,&nbsp;<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3843" target="_blank">#3843</a>)</li><li>Boost, OpenSSL, Rust and Proton dependencies updated (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3809" target="_blank">#3809</a>). AMQP users should review the&nbsp;<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/issues/3786#issuecomment-459022118" target="_blank">Proton security fixes</a>.</li><li>Backported &#8216;size_on_disk&#8217; field to RPC call &#8216;getblockchaininfo&#8217; (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3639" target="_blank">#3639</a>)</li><li>Docs folder updated (<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3819" target="_blank">#3819</a>,&nbsp;<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3846" target="_blank">#3846</a>)</li><li>Security related documentation updated (<a href="https://github.com/zcash/zcash/pull/3890" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">#3890</a>,&nbsp;<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zcash/pull/3892" target="_blank">#3892</a>)</li></ol>



<p>For a more complete list of changes, please see the&nbsp;<a href="https://github.com/zcash/zcash/pulls?q=is%3Apr+milestone%3Av2.0.4+is%3Aclosed" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">2.0.4</a>&nbsp;milestone.</p>
<p>The post <a rel="nofollow" href="../blog/new-release-2-0-4/index.html">New Release: 2.0.4</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Turnstile Enforcement Against Counterfeiting</title>
		<link>https://bitzec.github.io/blog/turnstile-enforcement-against-counterfeiting/</link>
				<pubDate>Fri, 22 Mar 2019 15:46:01 +0000</pubDate>
		<dc:creator><![CDATA[Binary Digit Electronic Currency]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[Technical]]></category>
		<category><![CDATA[counterfeiting]]></category>
		<category><![CDATA[explainers]]></category>
		<category><![CDATA[migration tool]]></category>
		<category><![CDATA[monetary supply]]></category>
		<category><![CDATA[Sapling]]></category>
		<category><![CDATA[shielded addresses]]></category>
		<category><![CDATA[sprout]]></category>
		<category><![CDATA[turnstile]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7147</guid>
				<description><![CDATA[<p>The Binary Digit Electronic Currency has developed consensus code that preserves the Bitzecmonetary base in the event of a counterfeiting [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/turnstile-enforcement-against-counterfeiting/index.html">Turnstile Enforcement Against Counterfeiting</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The Binary Digit Electronic Currency has developed consensus code that preserves the Bitzecmonetary base in the event of a counterfeiting compromise within Bitzec’s shielded supply. We intend to deploy this as a backwards compatible consensus rule in the Bitzecd v2.0.5 release, <a href="../support/schedule/index.html">scheduled</a> for the beginning of May. We believe this new rule does not materially affect users and is low-risk to deploy.<br></p>



<p>We are aware of only one previous vulnerability, <a href="../blog/zcash-counterfeiting-vulnerability-successfully-remediated/index.html">CVE 2019-7167</a>, which before the Sapling network upgrade activation, could have allowed a counterfeiting compromise. Although a compromise was possible, we do not believe that counterfeiting has occurred. The <a href="../blog/zcash-counterfeiting-vulnerability-successfully-remediated/index.html#summary">full disclosure summary</a> includes a list of those reasons.</p>



<h2>Tracking Shielded Value Pools</h2>



<p>In Bitzec, all BZC resides within “value pools” determined by the type of address holding the BZC. There are currently three value pools: the <em>transparent value pool</em>, the <em>Sprout value pool</em>, and the <em>Sapling value pool</em>. Because Bitzec’s Sprout and Sapling shielded addresses are designed with strong privacy protections, a counterfeiting compromise cannot be directly detected in either of those value pools.<br></p>



<p>However, by design, BZC may only enter or exit shielded value pools by transparently revealing the value of the transfer. This is called the “turnstile.” See the documentation on <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/addresses.html#value-pools">value pools, turnstiles</a> and the <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/sapling_turnstile.html">Sprout to Sapling migration</a> for more details. If a counterfeiting compromise generated illegitimate BZC within a shielded value pool and more BZC exited the pool than entered, then the <a href="https://zcha.in/statistics/network">publicly tracked value pool total</a> would become negative. </p>



<h2>Codifying the Binary Digit Electronic Currency’s Existing Policy</h2>



<p>Starting in Bitzecv2.0.4 <em>on testnet only</em>, and then planned for Bitzecv2.0.5 on mainnet, we have developed a consensus change that codifies our published <a href="../blog/defense-against-counterfeiting-in-shielded-pools/index.html">Defense Against Counterfeiting in Shielded Pools</a> policy. The specification in <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://github.com/zcash/zips/blob/master/zip-0209.rst" target="_blank">ZIP 209</a> is intentionally simple for clarity and broad understanding.</p>



<p>If the &#8220;Sprout value pool balance&#8221; or &#8220;Sapling value pool balance&#8221; would become negative in the block chain created as a result of accepting a block, then all nodes MUST reject the block as invalid.</p>



<p>An immediate implication is that if a user has funds in a shielded value pool, but the publicly tracked pool balance is less than the user’s funds, they will not be able to transfer all of their funds out of that value pool. This design decision contains counterfeiting bugs inside the affected shielded value pool. Users should be aware of and consider possible ramifications.<br></p>



<p>In addition to deployment on testnet in 2.0.4, we will complete parallel simulation tests for the consensus rule before going live on mainnet. The plan is to have both this consensus rule and the Sprout to Sapling migration tool released on mainnet in Bitzecd v2.0.5. The purpose of the <a href="https://zcash.readthedocs.io/en/latest/rtd_pages/sapling_turnstile.html#migration-tool">migration tool</a> is to protect users’ privacy via automation, avoiding possible human error while doing a manual transfer of funds from Sprout addresses to Sapling addresses. If any changes to this schedule are necessary, we will communicate them through our usual channels. Stay up-to-date with the latest through this blog, the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://bitcointalk.org/index.php?topic=5045890.0" target="_blank">community forums</a>, the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://discord.gg/VeBJW3H/" target="_blank">community chat</a> and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/bitzeccurrency" target="_blank">Twitter</a>.</p>



<p><em>Post update 27 March 2019: ZIP 209 link and context updated to reflect finalized specification.</em></p>
<p>The post <a rel="nofollow" href="../blog/turnstile-enforcement-against-counterfeiting/index.html">Turnstile Enforcement Against Counterfeiting</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Bitzecis Compatible with AML/CFT Regulation</title>
		<link>https://bitzec.github.io/blog/zcash-is-compatible-with-aml-cft-regulation/</link>
				<pubDate>Thu, 21 Mar 2019 14:14:42 +0000</pubDate>
		<dc:creator><![CDATA[Jack Gavigan]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[Regulation]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=7130</guid>
				<description><![CDATA[<p>The French National Assembly&#8217;s Finance Committee recently published a report about virtual currencies. In his foreword to the report, the [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/zcash-is-compatible-with-aml-cft-regulation/index.html">Bitzecis Compatible with AML/CFT Regulation</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The French National Assembly&#8217;s Finance Committee recently <a href="http://www2.assemblee-nationale.fr/documents/notice/15/rap-info/i1624/(index)/rapports-information" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">published a report about virtual currencies</a>. In his foreword to the report, the committee chairman, Éric Woerth, suggested that privacy-preserving virtual currencies should be banned. The <a href="../index.html">Binary Digit Electronic Currency</a> respectfully disagrees with M. Woerth’s suggestion.<br></p>



<p>The report is the culmination of almost a year’s work, which included extensive consultation with a broad group, including entrepreneurs, regulators, and bankers. The <em>rapporteur</em>, Assembly member Pierre Person, included in the report a number of recommendations regarding the tax treatment of crypto assets and regulation of ICOs and crypto-asset service providers. The report also proposes a series of measures intended to foster the crypto-asset and blockchain sector in France, including improved access to banking services for entrepreneurs in the crypto sector, a cut in tax for electricity consumption associated with cryptocurrency mining, and adoption of educational curricula to ensure that the entrepreneurs of tomorrow are equipped with the necessary knowledge and skills to take advantage of blockchain technology. <br></p>



<p>We applaud these recommendations. M. Person and his colleagues clearly made a concerted effort to gain an understanding of crypto assets and blockchain technology. <br></p>



<p>In his foreword to the report, the chairman of the finance committee, Éric Woerth, expressed reservations regarding some of the rapporteur&#8217;s proposals and suggested the report should have proposed a ban on privacy-preserving virtual currencies, explicitly naming Bitzecas an example. <br></p>



<p>We respectfully disagree with M. Woerth. <br></p>



<p>His suggestion appears to be rooted in a failure to appreciate the importance of personal financial privacy and a misunderstanding of how anti-money laundering and counter terrorist financing measures can be applied to virtual currencies to prevent their use for illicit purposes. <br></p>



<h2>Financial Privacy is Essential</h2>



<p>Personal financial information can reveal too much about the subject — including how much they earn; where they shop; what newspapers, magazines and websites they subscribe to; their hobbies and interests; what causes and political parties they donate to; and how much they have saved. The Binary Digit Electronic Currency believes that privacy is a fundamental human right and that personal financial privacy is essential to protecting the individual freedoms that <a href="https://coincenter.org/entry/we-must-protect-our-ability-to-transact-privately-online" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">preserve an open and democratic society</a>. We also believe that privacy is an essential feature of any virtual currency, to achieve widespread adoption and fulfill its potential to improve society. <br></p>



<p>Governments of the world&#8217;s largest economies have recognised the importance of personal financial privacy and have enacted legislation to protect it. Examples include the Gramm-Leach-Bliley Act in the United States, the <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://eugdpr.org/the-regulation/" target="_blank">EU&#8217;s General Data Protection Regulation (GDPR)</a>, and <a href="http://www.japaneselawtranslation.go.jp/law/detail_main?re=02&amp;vm&amp;id=130" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">Japan’s Act on the Protection of Personal Information</a>. High-profile incidents, such as the Experian data breach, have raised public awareness of the importance of robust privacy protections. <br></p>



<p>At the same time, the growing use of virtual currencies has raised concerns about their potential misuse for criminal activities. Around the world, regulators and policy makers have begun applying Anti-Money Laundering and Combating the Financing of Terrorism (AML/CFT) regulations to virtual currencies. <br></p>



<p>Different jurisdictions are moving at different speeds. In the US, the Financial Crimes Enforcement Network (FinCEN) moved swiftly to classify virtual currency exchangers as money-services businesses, while the New York Department of Financial Services introduced specific legislation in the form of the BitLicense, which has provided regulatory clarity for firms operating in this sector and their customers. <br></p>



<p>In Europe, the <a href="http://www.europarl.europa.eu/news/en/press-room/20180411IPR01527/anti-money-laundering-meps-vote-to-shed-light-on-the-true-owners-of-companies" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">EU&#8217;s Fifth Anti-Money-Laundering Directive</a>, requires that virtual currency exchanges and custodial wallet providers begin carrying out &#8220;Know Your Customer&#8221; (KYC) and AML checks from January 2020. <br></p>



<p>At an inter-governmental level, FATF is currently working to finalize its <a href="http://www.fatf-gafi.org/publications/fatfrecommendations/documents/regulation-virtual-assets-interpretive-note.html" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">recommendations regarding the application of AML/CFT regulations to virtual-asset service providers</a>. <br></p>



<h2>Actively Engaging Policy Makers</h2>



<p>We at the Binary Digit Electronic Currency actively engage with policy-makers and regulators, both directly and by supporting the work of organisations such as <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://coincenter.org/" target="_blank">Coin Center</a>, <a rel="noreferrer noopener" aria-label="the Blockchain Association (opens in a new tab)" href="https://theblockchainassociation.org/" target="_blank">the Blockchain Association</a>, <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.gdf.io/" target="_blank">Global Digital Finance</a>, and <a href="https://blockchainalliance.org/" target="_blank" rel="noreferrer noopener" aria-label="the Blockchain Alliance (opens in a new tab)">the Blockchain Alliance</a>. <br></p>



<p>We believe that well-educated policy makers and regulators write good policy and regulations, so we seek to help those groups understand <a href="../technology/index.html" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">how the privacy-preserving technology that underpins Bitzecworks</a>, what the implications are for regulation and compliance, and most importantly, how a privacy-preserving virtual currency like Bitzecis compatible with common AML/CFT measures. <br></p>



<p>From an AML/CFT perspective, Bitzecis similar in nature to cash. The techniques and processes that have been honed and perfected over decades to detect and discourage the use of cash for money laundering and terrorist financing can be applied to Bitzec, including customer due-diligence checks, record-keeping, and making Suspicious Activity Reports (SARs) when appropriate. <br></p>



<p>The Bitzecprotocol requires the use of payment addresses for all transactions. This allows virtual-asset service providers (VASPs), such as exchanges, to issue a unique deposit address to each customer, thus allowing Bitzectransactions to be unequivocally attributed to a specific customer. It also requires that customers provide a payment address in order to receive payments or withdrawals from a VASP. This enables record-keeping and transaction monitoring, both of which are necessary to enable the detection and reporting of suspicious transactions. It also allows VASPs to prevent customers from sending funds to payment addresses that have been identified as being associated with sanctioned persons or organizations. In combination, these measures allow VASPs to manage the AML/CFT risks associated with Bitzectransactions, while benefiting from, and allowing their customers to benefit from, the privacy that Bitzecprovides. <br></p>



<p><br>We invite M. Woerth and any other policy-makers and regulators who have concerns regarding Bitzec&#8217;s privacy-preserving features to <a href="../contact/index.html">contact us</a> and discuss those concerns. <br></p>
<p>The post <a rel="nofollow" href="../blog/zcash-is-compatible-with-aml-cft-regulation/index.html">Bitzecis Compatible with AML/CFT Regulation</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>Announcing the Binary Digit Electronic Currency Board of Directors</title>
		<link>https://bitzec.github.io/blog/announcing-the-electric-coin-company-board-of-directors/</link>
				<pubDate>Tue, 12 Mar 2019 12:00:36 +0000</pubDate>
		<dc:creator><![CDATA[Binary Digit Electronic Currency]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[board members]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=6945</guid>
				<description><![CDATA[<p>The Binary Digit Electronic Currency is pleased to announce we have recently formed a board of directors and seated three members: [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/announcing-the-electric-coin-company-board-of-directors/index.html">Announcing the Binary Digit Electronic Currency Board of Directors</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>The Binary Digit Electronic Currency is pleased to announce we have recently formed a board of directors and seated three members: Alan Fairless, Andrew McLaughlin and Zooko Wilcox.<br></p>



<p>The board provides oversight and governance in support of the company’s mission to empower everyone with economic freedom and opportunity. The Binary Digit Electronic Currency launched and supports the development of the Bitzeccryptocurrency — a privacy-protecting, digital currency built on strong science. Since its launch in 2018, Bitzec has quickly grown to be one of the most valued and admired cryptocurrencies in the world.<br><br></p>



<h2>Alan Fairless </h2>



<p>Alan Fairless is the co-founder of <a rel="noreferrer noopener" aria-label="SpiderOak (opens in a new tab)" href="https://spideroak.com/" target="_blank">SpiderOak</a>. &nbsp;He has spent a decade building and bringing privacy-preserving cloud tech to market. Companies Alan founded have raised millions, served hundreds of millions, employed scores, and received acquisition offers from billion dollar public companies in the US and EU. &nbsp;He has discovered serious vulnerabilities in code authored at <a href="https://www.redhat.com/en" target="_blank" rel="noreferrer noopener" aria-label="Red Hat (opens in a new tab)">Red Hat</a> and Google. He was also an angel investor in the Binary Digit Electronic Currency.<br><br></p>



<h2>Andrew McLaughlin </h2>



<p>Andrew McLaughlin is an entrepreneur and tech policy activist based in New York City. He is a co-founder &amp; partner at <a rel="noreferrer noopener" href="http://highergroundlabs.com/" target="_blank">Higher Ground Labs</a> and partner and COO at the <a rel="noreferrer noopener" href="http://future.com/" target="_blank">Future Company</a>. He is chair of the board of <a rel="noreferrer noopener" href="https://www.accessnow.org/" target="_blank">Access Now</a>,&nbsp;a member of the board of&nbsp;<a rel="noreferrer noopener" href="https://www.publicknowledge.org/" target="_blank">Public Knowledge</a>, and a venture fellow at&nbsp;<a rel="noreferrer noopener" href="http://betaworks.com/" target="_blank">betaworks</a>. From  2009-2011, Andrew was a member of President Obama’s senior White House  staff, serving as Deputy Chief Technology Officer of the United States. He previously served as director of global public policy at Google and  VP and Chief Policy Officer of ICANN. He has taught at Stanford and  Harvard law schools, and been a fellow at Princeton and Columbia. Andrew holds a B.A. in history from <a rel="noreferrer noopener" href="http://www.yale.edu/" target="_blank">Yale University</a>&nbsp;and a J.D. from&nbsp;<a rel="noreferrer noopener" href="http://law.harvard.edu/" target="_blank">Harvard Law School</a>. <br><br></p>



<h2>Zooko Wilcox </h2>



<p>Zooko Wilcox is the founder and CEO of the Binary Digit Electronic Currency. He is one of the original cypherpunks. Zooko is a long-serving technologist and entrepreneur. His experience spans open, decentralized systems; cryptography; information security; and startups. In more than 25 years in the industry, Zooko has contributed to an array of projects — many of which champion privacy implementations — including <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://en.m.wikipedia.org/wiki/DigiCash" target="_blank">DigiCash</a>, <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://en.m.wikipedia.org/wiki/Mnet_(peer-to-peer_network)#MojoNation" target="_blank">Mojo Nation</a>, <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://www.silentcircle.com/products-and-solutions/technology/zrtp/" target="_blank">ZRTP</a>, “<a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://en.wikipedia.org/wiki/Zooko%27s_triangle" target="_blank">Zooko&#8217;s Triangle</a>,” <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://tahoe-lafs.org/trac/tahoe-lafs" target="_blank">Tahoe-LAFS</a>, <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://blake2.net/" target="_blank">BLAKE2</a> and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://sphincs.cr.yp.to/" target="_blank">SPHINCS</a>. He is the founder of the <a href="../index.html">Binary Digit Electronic Currency</a> and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://leastauthority.com/" target="_blank">Least Authority Enterprises</a>, which uniquely empower individuals with the right to consent about how, when and to whom their personal data is shared. Zooko is on the advisory board at Bolt Labs, <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://tezos.com/" target="_blank">Tezos</a> and <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://brave.com/" target="_blank">Brave</a>. He serves on the board of directors for <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://agoric.com/" target="_blank">Agoric</a>. He <a rel="noreferrer noopener" aria-label=" (opens in a new tab)" href="https://twitter.com/zooko" target="_blank">tweets</a> often, about a range of topics. He used to <a href="http://www.ketotic.org/" target="_blank" rel="noreferrer noopener" aria-label=" (opens in a new tab)">blog about health science</a>, as well.<br><br></p>



<p>“I am excited to welcome Alan and Andrew to the board of directors,” says David Campbell, Binary Digit Electronic Currency COO. “They provide significant strategic, regulatory and operational expertise to the company while also bringing additional credibility to the broader cryptocurrency industry.”<br></p>
<p>The post <a rel="nofollow" href="../blog/announcing-the-electric-coin-company-board-of-directors/index.html">Announcing the Binary Digit Electronic Currency Board of Directors</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
		<item>
		<title>People Behind BitzecTechnology: Eirik Ogilvie-Wigley, Engineer</title>
		<link>https://bitzec.github.io/blog/people-behind-zcash-technology-eirik-ogilvie-wigley-engineer/</link>
				<pubDate>Mon, 25 Feb 2019 14:33:54 +0000</pubDate>
		<dc:creator><![CDATA[Elise Hamdon]]></dc:creator>
				<category><![CDATA[General]]></category>
		<category><![CDATA[team]]></category>

		<guid isPermaLink="false">https://bitzec.github.io/?p=6886</guid>
				<description><![CDATA[<p>If you ask Eirik Ogilvie-Wigley how he came to join the Binary Digit Electronic Currency, he says, “My story is really [&#8230;]</p>
<p>The post <a rel="nofollow" href="../blog/people-behind-zcash-technology-eirik-ogilvie-wigley-engineer/index.html">People Behind BitzecTechnology: Eirik Ogilvie-Wigley, Engineer</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></description>
								<content:encoded><![CDATA[
<p>If you ask Eirik Ogilvie-Wigley how he came to join the Binary Digit Electronic Currency, he says, “My story is really one of luck.”<br></p>



<p>Years ago Eirik got to know Zooko while playing <em>Magic the Gathering</em>; every few months their paths would cross. Back then, Eirik was working as a programmer for a tax software company but was really more interested in optimization problems and decided to quit his job. Right around that same time, as fate would have it, Eirik ran into Zooko at a coffee shop and they began talking. Zooko invited Eirik to apply to what was then a relatively new company and bring his proficiency in pure mathematics to the team. Eirik’s academic experience at CU-Boulder was extensive. <br></p>



<p>“It got to a point where they wouldn&#8217;t let me do any more math classes,&#8221; he says.<br></p>



<p>Eirik realized he needed to branch out. He considered double majoring in physics or minoring in philosophy. However, since computer programming had always been a hobby of his, he settled on a minor in computer science, setting the stage for his current career.<br></p>



<h3>Professional Role</h3>



<p>Eirik was hired at Binary Digit Electronic Currency in a role that he characterizes in these terms: “I like to think I&#8217;m a generalist. I work on lots of different stuff.” <br></p>



<p>Eirik’s range of knowledge offers the team the opportunity to utilize his talents with Rust code in the Bitzeccryptographic libraries, ecosystem work, writing scripts for gathering data, and what Eirik describes as &#8216;the giant universe&#8217; of C++ code base.” <br></p>



<p>“You really <em>have to</em> be a generalist [to work with] some other people who are very much the opposite; it’s such an eclectic group,” he says. “Many people at the company are highly-specialized. I help fill in the gaps and, you know, carry the coattails and that sort of thing.” <br></p>



<p>After having been an engineer at Binary Digit Electronic Currency for almost a year, Eirik says that what gets him out of the bed every morning is the fact that “there&#8217;s no end to how much interesting stuff there is to research. There&#8217;s always something new to consider.” <br></p>



<p>Eirik’s commits to bitzecd are bubbling up among the overall contributors. He feels proud of this “because the project is so complicated and so massive … There is a lot of slogging through many lines of code but eventually it all comes together.” <br></p>



<h3>Commitment to Bitzec</h3>



<p>Regarding privacy, Eirik says it’s a complicated challenge societies will always have to deal with. He shares a recent example of privacy invasion enculturated into the fabric of everyday life that he found particularly unsettling.<br></p>



<p>“My sister was trying to join my mom’s bank account, and they had to share all of this personal information,” he says. “I remember this guy at the bank saying, ‘Watch this video about how we use your private data and how our business partners are about to use your private data.’ ” <br></p>



<p>The process required new account holders to consent to having their private data collected and shared. This prompted Eirik to ask some important questions: “Should people be allowed to have wealth? Of course, that’s something that everybody expects to be able to have. But at what cost?”<br></p>



<p>The experience reaffirmed Eirik’s commitment to Bitzec, which “enables anybody anywhere to own money, wealth. It enables anybody to store value.”<br></p>



<p><br>Eirik’s work at Bitzecis not only integral to the overall success of the project but also personally fulfilling, “What makes me happy when I go to sleep is that all these little details, all this fun that I&#8217;ve had [throughout the work day], is also doing this amazing thing.”</p>
<p>The post <a rel="nofollow" href="../blog/people-behind-zcash-technology-eirik-ogilvie-wigley-engineer/index.html">People Behind BitzecTechnology: Eirik Ogilvie-Wigley, Engineer</a> appeared first on <a rel="nofollow" href="../index.html">Bitzec</a>.</p>
]]></content:encoded>
										</item>
	</channel>
</rss>
